<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
    body {
        min-height: 100vh;

        background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
        background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
    }

    .input-form {
        max-width: 680px;

        margin-top: 80px;
        padding: 32px;

        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
</style>
</head>

<body>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원가입</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="user_id">아이디</label>
                        <input type="text" class="form-control" id="user_id" name="user_id" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            아이디를 입력해주세요.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="user_pw">비밀번호</label>
                        <input type="password" class="form-control" id="user_pw" name="user_pw" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            비밀번호를 입력해주세요.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="user_nm">이름</label>
                    <input type="text" class="form-control" id="user_nm" name="user_nm" placeholder="홍길동" required>
                    <div class="invalid-feedback">
                        이름을 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="user_email">이메일</label>
                    <input type="email" class="form-control" id="user_email" name="user_email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        이메일을 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="user_address">주소</label>
                    <input type="text" class="form-control" id="user_address" name="user_address" placeholder="서울특별시 강남구" required>
                    <div class="invalid-feedback">
                        주소를 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="user_phone">핸드폰 번호</label>
                    <input type="text" class="form-control" id="user_phone" name="user_phone" placeholder="핸드폰 번호를 입력해주세요.">
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="user_age">나이</label>
                        <select class="custom-select d-block w-100" id="user_age" name="user_age">
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="user_sex">성별</label>
                        <select class="custom-select d-block w-100" id="user_sex" name="user_sex">
                            <option>남자</option>
                            <option>여자</option>
                        </select>
                    </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block" onclick="signUp()">가입 완료</button>
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');

        Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                form.classList.add('was-validated');
            }, false);
        });
    }, false);

    function signUp(){

        var id = document.getElementById("user_id").value;
        var pw = document.getElementById("user_pw").value;
        var name = document.getElementById("user_nm").value;
        var email = document.getElementById("user_email").value;
        var address = document.getElementById("user_address").value;
        var phone = document.getElementById("user_phone").value;
        var age = document.getElementById("user_age").value;
        var sex = document.getElementById("user_sex").value;

        if (!id){
            alert("ID를 입력해주세요.");
            return;
        }
        if (!pw){
            alert("PW를 입력해주세요.");
            return;
        }
        if (!name){
            alert("이름를 입력해주세요.");
            return;
        }
        if (!email){
            alert("이메일을 입력해주세요.");
            return;
        }
        if (!address){
            alert("주소를 입력해주세요.");
            return;
        }
        if (!phone){
            alert("핸드폰번호를 입력해주세요.");
            return;
        }
        if (!age){
            alert("나이를 선택해주세요.");
            return;
        }
        if (!sex){
            alert("성별을 선택해주세요.");
            return;
        }

        $.ajax({
            url: "/users/signUp",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                userId: id,
                userPw : pw,
                userNm : name,
                userEmail: email,
                userAddress: address,
                userPhone: phone,
                userAge: age,
                userSex: sex,
            }),
            success: function(result) {
                if (result.message){
                    alert(result.message);

                    if (result.data) location.replace("/users/login");
                }
                else {
                    alert("회원가입 실패하셨습니다.");
                }
            },
            error: function(err){
                alert("에러 발생")
            }
        });
    }

</script>
</body>

</html>