<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">-->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <th:block th:replace="fragments/config :: configFragment"></th:block>
</head>


<div id="wrapper">
    <body>
        <th:block th:replace="fragments/header :: headerFragment"></th:block>

        <th:block layout:fragment="content"></th:block>

    </body>
</div>
</html>