<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">


<!-- main.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" class="container">



    <main class="container">
        <div class="page-header">
            <h1>게시글 등록</h1>
        </div>
        <div class="starter-template">
            <div class="form-group">
                <label style="float: left" for="title" class="col-sm-2 control-label">제목</label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input type="text" class="form-control" id="title" name="title" placeholder="제목"/>
                </div>
            </div>

            <div class="form-group">
                <label style="float: left" for="writer" class="col-sm-2 control-label">작성자</label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input type="text" class="form-control" id="writer" name="writer" placeholder="작성자"/>
                </div>
            </div>

            <div class="form-group">
                <label style="float: left" for="content" class="col-sm-2 control-label">내용</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="content" name="content" placeholder="내용을 입력해 주세요."></textarea>
                </div>
            </div>

            <div class="btn_wrap text-center">
                <a th:href="@{/board/list}" class="btn btn-secondary">뒤로 가기</a>
                <button type="button" class="btn btn-primary" onclick="boardWrite()">저장 하기</button>
            </div>
        </div>
    </main>

    <script th:inline="javascript">

        function boardWrite(){

            var title = document.getElementById("title").value;
            var writer = document.getElementById("writer").value;
            var content = document.getElementById("content").value;

            if (!title){
                alert("제목을 입력해주세요.");
                return;
            }
            if (!writer){
                alert("작성자를 입력해주세요.");
                return;
            }
            if (!content){
                alert("내용을 입력해주세요.");
                return;
            }


            $.ajax({
                url: "/board/write",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    boardTitle: title,
                    boardWriter : writer,
                    boardContent : content,
                }),
                success: function(result) {
                    alert("저장을 성공했습니다.");
                    location.replace('/board/list');
                },
                error: function(err){
                    alert("에러 발생")
                }
            });
        }

    </script>
</div>
</html>